[Unit]
Description=Ironic Python Agent
 
[Service]
ExecStartPre=/usr/bin/bash -c "/usr/bin/python /get-pip.py --no-wheel --no-index --find-links /wheelhouse ironic-python-agent"
ExecStart=/usr/bin/ironic-python-agent
 
[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
